@media all and (max-width:480px) {
    .bullsrt{
        display:flex;
      flex-flow:column;
    }
      .imggal{
          display:flex;
          flex:1;
        align-items: center;
        justify-content: space-around;
        
      }
        
    
    .imggal a{
        display:flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;
        max-width:45%;
        transition: none;
    }
    .imggal img{
        max-width:100%;
    }
    .imggal:hover img {opacity: none;}

.imggal:hover img:hover {opacity: none; }
}

@media all and (min-width:481px) {
        .bullsrt{
            display:flex;
          flex-flow:row wrap;
            
        }
        .imggal:hover img {opacity: 0.7;}

        .imggal:hover img:hover {opacity: 1;}
        } 
        .imggal img{
            border-radius: 4px;
            margin:0.5%;
            border:2px groove blueviolet;
            max-width:100%;
            transition: .8s opacity;
        }
nav{
    overflow:hidden;
    display:flex;
    /*flex: 1;*/
    background-color: lightblue;
    border-radius: 4px;
    flex-flow:row;
    align-items: center;
    justify-content: space-around;
    max-height: 10%;
    
    /*position:fixed;
    top:0;
    width:100%;*/

}
nav img{
    width: 10%;
    height: 10%;
    

}
button img{
    width:100%;
    height:100%;
   
}
nav button{
    font-size: auto;
    height: 10%;
    width:10%;
background-color: lightblue;
border-radius: 2px;

}

body{
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
header {
  display:flex;
  max-height: 200px;  
}
.text {
    display: flex;
    flex: 1;
    border:3px groove green;
    flex-flow: column;
    border-radius: 4px;
    margin:1%;
    background-color: grey;


}
.text p, .text h3 {
display: block;
}

.imggal {
    display:flex;
    flex: 1;
   /* flex-wrap: wrap;*/
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin:1%;
   /* padding:1%; */
    border-radius: 4px;
    
   

}
.imggal img{
    border-radius: 4px;
    margin:0.5%;
    border:2px groove blueviolet;
    max-width:100%;
  
}
.imggal a{
   display:flex;
   flex-flow: column row; 
}
.sticky {
    position: fixed;
    top: 0;
    display:flex;
    max-height:10%;
    max-width:90%;
    justify-content:space-around;
    align-items: center;
    /*margin-right:3%;*/
  }

